.logo-img {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

ion-card-title{
    text-align: center;
}

ion-card-subtitle{
    text-align: center;
}

.ion-valid.sc-ion-input-md-h {
    --highlight-color: red;
}